* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100vh;
}

.hero {
    display: flex;
    flex-flow: column;
    background-color: #1f2937;

}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 24px;
    gap: 32px;
}

.header-links {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    flex-shrink: 0;
    font-weight: 1000;
}

a, a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero .media {
    display: flex;
    flex-flow: row wrap;
    font-size: 48px;
    color: #f9faf8;
    align-self: center;
    justify-content: center;
    padding: 100px;
    gap: 56px;

}

#first-img {
    width: 450px;
    flex-basis: 400px;
}

.media p:nth-of-type(1) {
    font-weight: 900;
    width: 400px;
}

.media p:nth-of-type(2) {
    font-size: 18px;
    color: #e5e7eb;
}

.media button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    color: #e5e7eb;
    border: none;
    font-weight: 700;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 16px;
}

.media .text-box {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 450px;
}

.information .container img {
    height: 150px;
    border: 6px solid #3882f6;
    border-radius: 16px;
}

.information {
    text-align: center;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 48px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.m-obj {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 150px;
    gap: 8px;
    color: #1f2937;
    padding-bottom: 100px;
}