* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 16px 56px;  
}

.header-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a, a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero .media {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}